node_modules
npm-debug.log
.git
.env
Dockerfile
.dockerignore
*.md
.agent
.github
.test
.vscode
@request
coverage
uploads
.biomeignore
.env.test
.env.example
vitest.config.ts
*.test.ts
prisma/migrations
