node_modules
npm-debug.log
dist
.git
.env
Dockerfile
.dockerignore
*.md
.agent
.github
.test
.vscode
@request
build
coverage
docker
docs
task
uploads
.biomeignore
.env.test
.env.example
vitest.config.ts


